.benchmark {
  padding: 100px 0;

  font-family: $montserrat;
  background-color: #E8EEF7;
  background-image: url('../img/benchmark/BNMRK_bck_foto_480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media screen and(min-width: $tablet-width) {
    padding: 110px 0;
    background-image: url('../img/benchmark/BNMRK_bck_foto_1024.jpg');
  }
  @media screen and(min-width: $desktop-m-width) {
    padding: 115px 0;
    background-image: url('../img/benchmark/BNMRK_bck_foto_1440.jpg');
  }
  @media screen and(min-width: $desktop-l-width) {
    background-image: url('../img/benchmark/BNMRK_bck_foto_1920.jpg');
  }

  &__title {
    margin-bottom: 50px;

    text-align: center;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    color: $black-head;

    @media screen and(min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 60px;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 600px;

    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
    text-align: center;
  }
}
