.contacts {
  position: relative;

  display: flex;
  min-height: 675px;
  background: $grey-border url('../../img/map.png') no-repeat top center;


  font-family: $montserrat;
  color: $black;

  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container {
    margin-top: auto;
    width: 100%;
  }

  &__block {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 50px 10px;
    margin: auto auto 40px auto;

    min-width: 260px;
    max-width: 754px;

    text-align: center;
    background-color: rgba($white, 0.7);
  }

  &__city {
    margin: 0;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__phone {
    display: block;
    margin-bottom: 25px;

    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    text-decoration: none;
    color: $black;
  }

  &__email {
    display: inline-block;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: $black;
    border-bottom: 2px solid $orange;
  }

  [class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(100%);
  }
}
