.contract {
  position: relative;
  z-index: 2;
  top: -100px;
  left: 0;
  right: 0;
  margin-bottom: -100px;

  height: 100vh;
  min-height: 570px;
  padding-top: 103px;

  font-family: $montserrat;
  background-image: url('../img/web_boat_cover_mobile.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  .container {
    position: relative;
    margin-top: -50px;
    height: calc(100% - 47px);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and(min-width: $mobile-m-width) {
    min-height: 520px;
  }

  @media screen and (min-width: $tablet-width) {
    background-image: url('../img/web_boat_cover_middle.jpg');
    min-height: 550px;
    .container {
      max-width: 940px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 570px;
    background-image: url('../img/web_boat_cover.jpg');
  }

  @media screen and (min-width: $desktop-m-width) {
  background-image: url('../img/web_boat_cover.jpg');
}

  @media screen and (min-width: $desktop-l-width) {
    background-image: url('../img/web_boat_cover.jpg');
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #061D39 0%, #00417E 88.56%), rgba(0, 120, 188, 0.9);
    opacity: 0.76;
  }


  &__video {
    display: none;

    @media screen and (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -100;

      display: block;
      overflow: hidden;

      video{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }
    }
  }

  &__title {
    margin: auto auto 80px auto;

    width: 220px;

    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    color: $white;

    @media screen and (min-width: $mobile-m-width) {
      width: 100%;
      margin: auto 0 100px 0;
    }

    @media screen and (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  &__subtitle {

    margin-bottom: auto;

    font-family : $montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media screen and (min-width: $mobile-m-width) {
      margin-bottom: auto;
    }
  }

  &__button {
    position: relative;
    z-index: 10;

    display: block;
    margin: auto auto 40px auto;
    width: 62px;
    height: 57px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      fill: #89A0B3;
      transition: fill 0.6s ease;
    }

    &:hover,
    &:focus,
    &:active {
      svg {
        fill: $orange-light;
      }
    }
  }
}
