.contract {
  position: relative;
  z-index: 2;

  min-height: 640px;
  padding-top: 103px;
  margin-top: -103px;

  font-family: $montserrat;
  background-image: url('../../img/web_boat_cover.jpg');
  background-size: cover;
  background-position: top center;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #005B8D 11.3%, rgba(0, 120, 188, 0) 100%);
    background-color: rgba(#0078BC, 0.8);

    background-blend-mode: multiply;
    mix-blend-mode: multiply;
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 768px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 813px;
  }

  &__video {
    display: none;

    @media screen and (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      z-index: -1;

      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;

      video {
        height: 100%;
        width: auto;
        min-height: 768px;
      }
    }

    @media screen and (min-width: $desktop-m-width) {
      video {
        width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    margin: 80px 0;
    padding: 0 25px;

    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    color: $white;

    @media screen and (min-width: $mobile-m-width) {
      margin: 140px 0 100px 0;
    }

    @media screen and (min-width: $tablet-width) {
      margin: 210px 0 110px 0;
      font-size: 40px;
      line-height: 44px;
    }

    @media screen and (min-width: $desktop-width) {
      margin: 230px 0 120px 0;
    }
  }

  &__subtitle {
    margin-bottom: 70px;

    font-family : $montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 130px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-bottom: 140px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    width: 62px;
    height: 57px;

    background-color: transparent;
    background-image: url('../../img/arrow_icon.svg');
    border: none;
    cursor: pointer;
  }


}
