.develop {
  font-family: $montserrat;
  @media screen and (min-width: $mobile-m-width) {
    padding-top: 230px;
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 220px;
    padding-bottom: 60px;
    background-position: center 105px,top left;
  }


  &__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;

    @media screen and (min-width: $mobile-m-width) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 10px;
    }

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }
  &__line {
    @include list-reset;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  &__point {
    position: relative;

    padding: 40px 0 40px 0;
    line-height: 18px;
    font-size: 15px;
    text-align: center;

    &--index {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: calc(50% - 20px);

      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:first-child::after {
      background-image: url('../img/develop/arrow-l.svg');
    }

    &:nth-child(2)::after {
      background-image: url('../img/develop/arrow-m.svg');
    }

    &:nth-child(3)::after {
      background-image: url('../img/develop/arrow-d.svg');
    }

    @media screen and(min-width: $mobile-m-width) {
      padding: 50px 0;
    }

  }
  &__date {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;

    @media screen and(min-width: $tablet-width) {
      margin-bottom: 10px;
    }
  }
}
