.price {
  font-family: $montserrat;

  &__title {
    margin: 0 auto 25px auto;
    font-size: 26px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    max-width: 545px;

    @media screen and (min-width: $mobile-m-width) {
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 33px;
    }
  }

  &__list {
    @include list-reset;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

    @media screen and (min-width: $tablet-width) {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 146px;
    padding: 20px 0 20px 80px;
    max-width: 340px;

    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    background-position: 0 40px;
    background-repeat: no-repeat;
    background-size: 62px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 80px;

      width: 68px;
      height: 2px;
      background-color: rgba($grey-text, 0.5);
    }

    &:last-child::after {
      display: none;
    }

    @for $i from 1 through 6{
      &--op#{$i} {
        background-image: url('../img/price/OP#{$i}_icon.svg') ;
      }
    }

    @media screen and (min-width: $mobile-m-width) {
      padding: 30px 0 30px 80px;

    }

    @media screen and (min-width: $tablet-width) {
      flex-basis: 50%;
      margin-bottom: 30px;

      &:last-child::after {
        display: block;
      }
    }
  }
}
