.section {
  padding: 220px 0 70px 0;
  background-size: 63px 46px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center 105px,top left;

  @media screen and (min-width: $mobile-m-width) {
    padding-top: 230px;
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 200px;
    padding-bottom: 105px;
    background-position: center 90px,top left;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 220px;
    padding-bottom: 80px;
    background-position: center 110px,top left;
  }

  @media screen and (min-width: $desktop-m-width) {
    padding-bottom: 70px;
  }

  @media screen and (min-width: $desktop-l-width) {
    padding-top: 240px;
    padding-bottom: 80px;
    background-position: center 130px,top left;
  }

  &--grey {
    background-image: url('../img/logo-gray.svg');
    background-size: 63px 46px;
  }

  &--white {
    background-image: url('../img/logo-white.svg'), url("../img/price/OPD_bck_foto__480.jpg");
    background-size: 63px 46px, cover;

    @media screen and (min-width: $tablet-width) {

      background-image: url('../img/logo-white.svg'), url('../img/price/OPD_bck_foto__1024.jpg');
    }

    @media screen and (min-width: $desktop-m-width) {
      background-image: url('../img/logo-white.svg'), url('../img/price/OPD_bck_foto__1440.jpg');
    }

    @media screen and (min-width: $desktop-l-width) {
      background-image: url('../img/logo-white.svg'), url('../img/price/OPD_bck_foto__1920.jpg');
    }
  }
  &--blue {
    color: $white;
    background-color: $blue;
    background-image: url('../img/logo-blue.svg')
  }
}
