$mobile-width: 320px;
$mobile-m-width: 480px;
$tablet-width: 1024px;
$desktop-width: 1280px;
$desktop-m-width: 1440px;
$desktop-l-width: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$montserrat: 'Montserrat', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

$white: #fff;
$blue: #1A57A8;
$blue-light: #306BBA;
$blue-back: #0078BC;
$orange-light: #F2994A;
$orange: #FF7800;
$black-head: #000;
$black: #333;
$grey-dark: #4f4f4f;
$grey-text: #828282;
$grey-border: #E8EEF7;
$grey-icon: #E0E0E0;


